var s = require('./settings-global.js')

s.pg.con = {
  user : "postgres",
  database : "postgres",
  password : "1234",
  port : 5432,
  host : "localhost"
};

s.pg.key = "1234";

module.exports = s ;
